body{
    background-color: rgb(19, 19, 19); 
    padding-left: 0%; 
    padding-right: 0%; 
    color: white /*this is just to fix the white text*/ 
}

img {
    display: block; 
    width: 100; 
    color:white;
    margin:20px;
}

h1{
    font-family: monospace; 
    color: rgba(254, 254, 254, 0.901); 
    text-align: center; 
    text-decoration: none;
}
.topnav{
    font-family: monospace; 
    overflow: hidden; 
    background-color: #2a2929;
}
.topnav a{
    float: right; 
    color: #f2f2f2; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    font-size: 17px; 
}
.topnav a:hover { 
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #04AA6D; 
    color: white;
}

#countlabel{
    display: block; 
    text-align: center; 
    color: white; 
    font-size: 19px; 
    font-family: monospace; 
}

#btncontainer{
   text-align: center; 
}
.buttons{
    font-family: monospace;
    font-size: 13px; 
    background-color: #ffffff; 
    padding: 8px 8px;
    border-radius: 10px; 
    cursor: pointer; 
    transition: background-color 0.25s; 
}
.buttons:hover{
    background-color: #616060;
}

.about{
font-family: monospace; 
}

.borders-line{
font-family: monospace; 
color: white; 
border-bottom: 1px solid white; 
padding: 5px; 
}


